<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Interfacer5.MySettings.Dossier" connectionString="Provider=Microsoft.ACE.OLEDB.14.0;Data Source=&quot;C:\Users\Bwalters.COLLOID\Desktop\Live\Product Dossier.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Interfacer5.MySettings.Product_DossierConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Bwalters.COLLOID\Desktop\Live\Product Dossier.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>